version: "3.9"
name: diaslui.com

services:
  nginx:
    image: nginx:alpine
    container_name: diaslui_nginx
    ports:
      - "80:80"
    volumes:
      - ./public:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - webapp

  db:
    image: postgres:12-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    ports:
      - "5432:5432"

  webapp:
    build: .
    ports:
      - "3000:3000"
      - "51212:51212"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
