# fly.toml app configuration file generated for diaslui-com on 2025-12-12T10:55:59Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'diaslui-com'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[statics]]
  guest_path = "/app/public"
  url_prefix = "/assets"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
